<div class="checkout-container">
    <h2>Checkout</h2>
  
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
      <h3>Order Summary</h3>
      <ul>
        <li *ngFor="let item of cartItems">
          {{ item.pizzaQuantity }} x {{ item.pizzaName }} - ${{ item.pizzaPrice.toFixed(2) }}
        </li>
      </ul>
      <p>Subtotal: ${{ totalAmount - 3.00 - (totalAmount * 0.1) }}</p>
      <p>Delivery Fee: $3.00</p>
      <p>Tax: ${{ (totalAmount * 0.1).toFixed(2) }}</p>
      <h4>Total Amount: ${{ totalAmount.toFixed(2) }}</h4>
  
      <h3>Delivery Information</h3>
      <label>Name:</label>
      <input formControlName="name" required>
  
      <label>Address:</label>
      <input formControlName="address" required>
  
      <label>City:</label>
      <input formControlName="city" required>
  
      <label>State:</label>
      <input formControlName="state" required>
  
      <label>Zip Code:</label>
      <input formControlName="zip" required>
  
      <label>Phone:</label>
      <input formControlName="phone" required>
  
      <h3>Payment Information</h3>
      <label>Payment Method:</label>
      <select formControlName="paymentMethod">
        <option value="Credit Card">Credit Card</option>
        <option value="PayPal">PayPal</option>
        <option value="Cash">Cash</option>
      </select>
  
      <label>Card Number:</label>
      <input formControlName="cardNumber" required>
  
      <label>Expiry Date:</label>
      <input formControlName="expiry" type="month" required>
  
      <label>CVV:</label>
      <input formControlName="cvv" required>
  
      <button type="submit" [disabled]="checkoutForm.invalid">Place Order</button>
      <!-- <button type="submit">Place order</button> -->
    </form>
  </div>
  