<!-- <body>
  <div class="card-container">
    <div class="card-hover" *ngFor="let pizza of Pizzas">
      <div class="card-Pizza-image">
        <img src={{pizza.image}} alt="Pizza">
      </div>
      <!-- <div class="card-hover__content">
        <h3 class="card-hover__title">
          Order your <span>{{pizza.name}}</span> right now!
        </h3>
        <p class="card-hover__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia quisquam doloremque nostrum laboriosam, blanditiis libero corporis nulla a aut?</p>
        <a href="#" class="card-hover__link">
          <span>Learn How</span>
          <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
          </svg>        
        </a>
      </div>
      <div class="card-hover__extra">
        <h4>Learn <span>now</span> and get <span>40%</span> discount!</h4>
      </div>
      <img src='../../../assets/pizza.ts' alt="backgroung"> -->
    <!-- </div>
  </div>
</body> --> 


<!-- &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& -->



  <div class="container">
  <div class="card" *ngFor="let pizza of Pizzas">
    <div class="card-image">
      <img src={{pizza.image}}>
    </div>
    <div class="card-text">
      <div class="button">
        <button class="ingrediants" (click)="openPopup(pizza)">Ingrediants</button>
        <button class="add-to-cart" (click)="addTOCart(pizza)">Add to Cart</button>
      </div>
      <h4 class="card-title">{{pizza.name}}</h4>
      <p class="card-body">{{pizza.description}}</p>
    </div>
    <div class="card-price">${{pizza.price}}</div>
    <app-ingrediants
      *ngIf="isPopupVisible"
      [ingredients]="ingrediants"
      (close)="isPopupVisible = false">
    </app-ingrediants>
  </div>
  </div>
