/* src/app/login/login.component.css */
.auth-container {
  max-width: 400px;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
  margin-bottom: 20px;
}

div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  padding: 10px 15px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.login:hover {
  background-color: #0056b3;
}

.register{
  margin-left: 40px;
}
.register-button {
  background-color: white;
  color: red;
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
  text-decoration: underline;

}


.login{
  margin-left: 135px;
  margin-top: 20px;
}

.status {
  margin-left: 95px;
}

.is-invalid {
  border: 2px solid red;
}

