
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
/* dddd */
.container {
    display: flex;
    flex-direction: row; 
    align-items: start; 
    margin-left: 45px;
    padding: 20px; 
    border-radius: 8px; 
    border: none;
}

.card {
    flex-direction: column;
}



.ingredient {
    
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    /* background-color: rgb(250, 248, 248); */
    width: 500px;
    height: 80px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Optional: add shadow effect */
    
}
.ingredient:hover {
    background-color: #e0e0e0; 
}

.ingredient img {
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    margin-right: 10px;
    margin-left: 20px;
}
.ingredient-name {
    flex-grow: 1;
    margin-left: 100px; /* Pushes the content to the right */
}
.ingredient-price {
    margin-left: 10px;
    margin-right: 80px; /* Pushes the content to the right */
}

.ingrediant-radi {
    margin-left: 10px;
    margin-right: 20px; /* Pushes the content to the right */
}

.pricing {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 210px;
    padding: 20px;
    /* border-radius: 8px; */
}

.billing{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}

.pricing-ingrediant-name{
    flex: 1;
    margin-right: 60px;
    color: rgba(0, 0, 0, 0.4)
}

.pricing-ingrediant-price{
    width: 50px;
    text-align: right;
    flex: 0;
    align-items: end;
    color: rgba(0, 0, 0, 0.4)
}

.add-to-cart {
    margin-left: 60px;
    background-color: #970C0A; 
}

.total-price{
    margin-left: 50px;
    margin-right: 60px;
}
